body {
  position: relative;
}

header {
  width: 100%;
  height: 200px;
}
header .header_top {
  width: 100%;
  height: 32px;
  background: #f7f7f7;
}
header .header_top .header_max {
  width: 1200px;
  height: 100%;
  margin: auto;
}
header .header_top .header_max .header_max_l {
  float: left;
}
header .header_top .header_max .header_max_l ul li {
  float: left;
  font-size: 12px;
  line-height: 32px;
  margin-right: 21px;
  color: #999;
}
header .header_top .header_max .header_max_l ul li a {
  color: #999;
  text-decoration: none;
}
header .header_top .header_max .header_max_l ul li a:hover {
  color: #eb3b4a;
}
header .header_top .header_max .header_max_r {
  width: 570px;
  float: right;
}
header .header_top .header_max .header_max_r ul li {
  float: left;
  font-size: 12px;
  line-height: 32px;
  margin-right: 35px;
}
header .header_top .header_max .header_max_r ul li:nth-child(6) {
  margin-right: 0;
  float: right;
}
header .header_top .header_max .header_max_r ul li a {
  color: #999;
  text-decoration: none;
}
header .header_top .header_max .header_max_r ul li a:hover {
  color: #eb3b4a;
}
header .header_mid {
  width: 1200px;
  height: 128px;
  margin: auto;
}
header .header_mid h1 {
  padding-top: 33px;
  float: left;
}
header .header_mid .ipt {
  float: left;
  width: 520px;
  margin-left: 150px;
}
header .header_mid .ipt input {
  width: 410px;
  height: 35px;
  border: 1px solid #eb3b4a;
  margin-top: 36px;
  font-size: 12px;
  outline: none;
}
header .header_mid .ipt button {
  width: 100px;
  height: 35px;
  background: #eb3b4a;
  border: none;
  margin-left: -4px;
  color: white;
}
header .header_mid .ipt ul {
  margin-top: 10px;
}
header .header_mid .ipt ul li {
  float: left;
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
header .header_mid .ipt ul li a {
  color: #999;
}
header .header_mid .ipt ul li a:hover {
  color: #eb3b4a;
  text-decoration: none;
}
header .header_mid img {
  float: right;
}
header .header_bottom {
  width: 100%;
  height: 40px;
  background: #eb3b4a;
}
header .header_bottom .nav_1 {
  width: 1200px;
  margin: auto;
}
header .header_bottom .nav_1 nav li {
  float: left;
  font-size: 15px;
  line-height: 40px;
  margin-right: 30px;
  text-align: center;
}
header .header_bottom .nav_1 nav li:nth-child(1) {
  margin-left: 25px;
}
header .header_bottom .nav_1 nav li a {
  display: inline-block;
  height: 40px;
  width: 80px;
  color: white;
  text-decoration: none;
}
header .header_bottom .nav_1 nav li a:hover {
  border-bottom: 2px solid #cc0e2b;
}

main {
  width: 100%;
}
main .swiper-container {
  width: 100%;
  height: 400px;
  background: #aba3fa;
  cursor: pointer;
}
main .swiper-container .swiper-container .hide {
  opacity: 0;
}
main .swiper-container .swiper-button-next, main .swiper-container .swiper-button-prev {
  transition: opacity 0.5s;
}
main .swiper-container .lt {
  left: 100px;
  color: #eb3b4a;
}
main .swiper-container .rt {
  right: 100px;
  color: #eb3b4a;
}
main .Selected {
  width: 100%;
  height: 768px;
}
main .Selected .Selected_max {
  width: 1200px;
  height: 100%;
  margin: auto;
}
main .Selected .Selected_max_t {
  width: 100%;
  height: 160px;
  position: relative;
}
main .Selected .Selected_max_t img {
  position: absolute;
  bottom: 0;
}
main .Selected .Selected_max_m {
  width: 100%;
  height: 90px;
}
main .Selected .Selected_max_m ul {
  padding-top: 40px;
}
main .Selected .Selected_max_m ul li {
  float: left;
  font-size: 12px;
  margin-right: 14px;
}
main .Selected .Selected_max_m ul li a:hover {
  text-decoration: none;
  color: #eb3b4a;
}
main .Selected .Selected_max_m ul li h3 {
  font-size: 28px;
}
main .Selected .Selected_max_m ul li img {
  display: inline-block;
}
main .Selected .Selected_max_m ul li:nth-child(3) {
  margin-top: 10px;
  color: #999;
}
main .Selected .Selected_max_m ul li:nth-child(4) {
  margin-top: 10px;
  color: #999;
}
main .Selected .Selected_max_m ul li:nth-child(5) {
  float: right;
}
main .Selected .Selected_max_b {
  width: 100%;
  height: 516px;
}
main .Selected .Selected_max_b .Selected_max_b_1 {
  width: 240px;
  height: 258px;
  box-sizing: border-box;
  padding: 16px 13px 13px 13px;
  float: left;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
main .Selected .Selected_max_b .Selected_max_b_1:hover img {
  transform: scale(1.1);
}
main .Selected .Selected_max_b .Selected_max_b_1 ul li {
  font-size: 12px;
}
main .Selected .Selected_max_b .Selected_max_b_1 ul li img {
  width: 140px;
  height: 140px;
  margin-left: 30px;
  margin-bottom: 20px;
  transition: 1s;
}
main .Selected .Selected_max_b .Selected_max_b_1 ul h4 {
  width: 66px;
  height: 18px;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  background: #eb3b4a;
  text-align: center;
  line-height: 18px;
  color: white;
  margin-top: 6px;
  margin-bottom: 10px;
}
main .Selected .Selected_max_b .Selected_max_b_1 ul span {
  font-size: 11px;
  color: #999;
  margin-left: 6px;
}
main .Selected .Selected_max_b .Selected_max_b_1 ul a {
  font-size: 11px;
  color: #999;
  float: right;
}
main .Selected .Selected_max_b .Selected_max_b_1 ul i {
  font-style: normal;
  font-size: 18px;
  color: #eb3b4a;
}
main .sell {
  width: 100%;
  height: 100%;
}
main .sell .sell_title {
  width: 1200px;
  height: 90px;
  margin: auto;
}
main .sell .sell_title ul {
  padding-top: 40px;
}
main .sell .sell_title ul li {
  float: left;
  font-size: 12px;
  margin-right: 14px;
}
main .sell .sell_title ul li h3 {
  font-size: 28px;
}
main .sell .sell_title ul li img {
  display: inline-block;
}
main .sell .sell_title ul li:nth-child(3) {
  margin-top: 10px;
  color: #999;
}
main .sell .sell_title ul li:nth-child(4) {
  margin-top: 10px;
  color: #999;
}
main .sell .sell_title ul li:nth-child(5) {
  float: right;
}
main .sell .sell_max {
  width: 1200px;
  height: 100%;
  margin: auto;
}
main .sell .sell_max .sell_max_l {
  width: 840px;
  height: 100%;
  float: left;
}
main .sell .sell_max .sell_max_l .list {
  width: 100%;
  height: 294px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
main .sell .sell_max .sell_max_l .list .list_title {
  width: 245px;
  height: 100%;
  float: left;
  text-align: center;
}
main .sell .sell_max .sell_max_l .list .list_title h4 {
  padding-top: 120px;
  font-size: 23px;
}
main .sell .sell_max .sell_max_l .list .list_title a {
  font-size: 18px;
  color: #999;
  line-height: 46px;
}
main .sell .sell_max .sell_max_l .list .list_title a:hover {
  text-decoration: none;
  color: #eb3b4a;
}
main .sell .sell_max .sell_max_l .list img {
  width: 593px;
  height: 292px;
  float: right;
  transition: 1s;
}
main .sell .sell_max .sell_max_l .list img:hover {
  opacity: 0.7;
}
main .sell .sell_max .sell_max_r {
  width: 340px;
  height: 100%;
  float: right;
}
main .sell .sell_max .sell_max_r .Hot_list {
  width: 100%;
  height: 600px;
  border: 1px solid #e5e5e5;
}
main .sell .sell_max .sell_max_r .Hot_list .Hot_list_title {
  width: 100%;
  height: 50px;
  background: #fae4e4;
}
main .sell .sell_max .sell_max_r .Hot_list .Hot_list_title h4 {
  line-height: 50px;
}
main .sell .sell_max .sell_max_r .Hot_list .Hot_list_title h4 img {
  display: inline-block;
  margin-left: 15px;
  margin-right: 12px;
  vertical-align: middle;
}
main .sell .sell_max .sell_max_r .Hot_list ul {
  margin-top: 15px;
  margin-left: 10px;
}
main .sell .sell_max .sell_max_r .Hot_list ul:hover img {
  transform: scale(1.1);
}
main .sell .sell_max .sell_max_r .Hot_list ul li {
  float: left;
  margin-bottom: 18px;
}
main .sell .sell_max .sell_max_r .Hot_list ul li:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}
main .sell .sell_max .sell_max_r .Hot_list ul img {
  width: 90px;
  height: 90px;
  margin-right: 30px;
  transition: 1s;
}
main .sell .sell_max .sell_max_r .Hot_list ul h5 {
  font-size: 17px;
  text-indent: 2em;
  margin-bottom: 12px;
  font-style: italic;
}
main .sell .sell_max .sell_max_r .Hot_list ul a {
  font-size: 14px;
  text-decoration: none;
  color: #999;
}
main .sell .sell_max .sell_max_r .Hot_list ul a:hover {
  color: #eb3b4a;
}
main .sell .sell_max .sell_max_r .Hot_list ul p {
  margin-top: 20px;
}
main .sell .sell_max .sell_max_r .Hot_list ul i {
  font-size: 15px;
  font-style: normal;
  color: #eb3b4a;
}
main .sell .sell_max .sell_max_r .Hot_list ul span {
  font-size: 12px;
  color: #eb3b4a;
  float: right;
}
main .brand {
  width: 100%;
  height: 670px;
}
main .brand .brand_max {
  width: 1200px;
  height: 100%;
  margin: auto;
}
main .brand .brand_max .brand_title {
  width: 100%;
  height: 90px;
}
main .brand .brand_max .brand_title ul {
  padding-top: 40px;
}
main .brand .brand_max .brand_title ul li {
  float: left;
  font-size: 12px;
  margin-right: 14px;
}
main .brand .brand_max .brand_title ul li h3 {
  font-size: 28px;
}
main .brand .brand_max .brand_title ul li img {
  display: inline-block;
}
main .brand .brand_max .brand_title ul li:nth-child(3) {
  margin-top: 10px;
  color: #999;
}
main .brand .brand_max .brand_title ul li:nth-child(4) {
  margin-top: 10px;
  color: #999;
}
main .brand .brand_max .brand_title ul li:nth-child(5) {
  float: right;
}
main .brand .brand_max .brand_logo {
  width: 100%;
  height: 242px;
}
main .brand .brand_max .brand_logo img {
  float: left;
  cursor: pointer;
  transition: 1s;
}
main .brand .brand_max .brand_logo img:hover {
  transform: scale(1.1);
}
main .brand .brand_max .brand_pic {
  width: 100%;
  height: 200px;
}
main .brand .brand_max .brand_pic img {
  padding-top: 40px;
  cursor: pointer;
}
main .brand .brand_max .brand_list {
  width: 100%;
  height: 140px;
}
main .brand .brand_max .brand_list .brand_list_1 ul {
  float: left;
  padding-top: 35px;
  padding-left: 42px;
  padding-right: 63px;
}
main .brand .brand_max .brand_list .brand_list_1 ul li {
  float: left;
}
main .brand .brand_max .brand_list .brand_list_1 ul p {
  font-size: 11px;
  color: #999;
  line-height: 24px;
  margin-left: 18px;
}
main .brand .brand_max .brand_list .brand_list_1 ul p:nth-child(1) {
  margin-top: 10px;
}

footer {
  width: 100%;
  height: 590px;
}
footer .footer_top {
  width: 1200px;
  height: 356px;
  margin: auto;
}
footer .footer_top .service {
  width: 100%;
  height: 156px;
  border-top: 1px solid #e5e5e5;
}
footer .footer_top .service ul {
  float: left;
  padding-top: 30px;
  padding-right: 153px;
}
footer .footer_top .service ul:nth-child(1) {
  padding-left: 73px;
}
footer .footer_top .service ul li {
  font-size: 12px;
  line-height: 22px;
}
footer .footer_top .service ul li:nth-child(1) {
  font-size: 18px;
  margin-bottom: 10px;
}
footer .footer_top .service ul li a:hover {
  color: #eb3b4a;
  text-decoration: none;
}
footer .footer_top .QR {
  width: 100%;
  height: 200px;
  border-top: 1px solid #e5e5e5;
}
footer .footer_top .QR ul {
  padding-top: 47px;
  padding-right: 75px;
  float: left;
}
footer .footer_top .QR ul li {
  float: left;
}
footer .footer_top .QR ul img {
  width: 105px;
  height: 105px;
  margin-right: 14px;
}
footer .footer_top .QR ul h3 {
  margin-bottom: 14px;
}
footer .footer_top .QR ul p {
  font-size: 12px;
  line-height: 22px;
  color: #666;
}
footer .footer_bottom {
  width: 100%;
  height: 246px;
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
footer .footer_bottom .footer_bottom_max {
  width: 1200px;
  height: 100%;
  margin: auto;
}
footer .footer_bottom .footer_bottom_max .bottom_top {
  width: 100%;
  height: 110px;
}
footer .footer_bottom .footer_bottom_max .bottom_top img {
  display: inline-block;
}
footer .footer_bottom .footer_bottom_max .bottom_top a {
  display: inline-block;
  margin-right: 85px;
  color: #777;
  font-size: 11px;
  line-height: 28px;
}
footer .footer_bottom .footer_bottom_max .bottom_top a:nth-child(1) {
  padding-top: 25px;
}
footer .footer_bottom .footer_bottom_max .bottom_top a:hover {
  text-decoration: none;
  color: #eb3b4a;
}
footer .footer_bottom .footer_bottom_max .bottom_mid {
  width: 100%;
  height: 24px;
}
footer .footer_bottom .footer_bottom_max .bottom_mid ul {
  width: 900px;
  height: 100%;
  margin: auto;
}
footer .footer_bottom .footer_bottom_max .bottom_mid ul li {
  float: left;
  font-size: 11px;
  line-height: 24px;
  margin-right: 10px;
}
footer .footer_bottom .footer_bottom_max .bottom_mid ul li a:hover {
  text-decoration: none;
  color: #eb3b4a;
}

.nth {
  width: 100px;
  height: 50px;
  position: fixed;
  right: 23px;
  bottom: 23px;
  background: #f5f3f3;
  border: none;
  outline: none;
  display: none;
}

/*# sourceMappingURL=index.css.map */
